atlassian-python-api==3.20.1
attrs==21.4.0
beautifulsoup4==4.10.0
boto3==1.21.30
botocore==1.24.30
cachetools==5.0.0
certifi>=2024.07.04
charset-normalizer==2.0.12
cssselect==1.1.0
Deprecated==1.2.13
fastapi==0.111.0
google-api-core==2.7.1
google-api-python-client==2.42.0
google-auth==2.6.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
googleapis-common-protos==1.56.0
html-table-extractor==1.4.1
html-table-parser-python3==0.2.0
httplib2==0.20.4
idna>=3.7
iniconfig==1.1.1
Jinja2>=3.1.4
jmespath==1.0.0
jsonpickle==2.1.0
lxml
MarkupSafe==2.1.1
oauthlib==3.2.2
packaging==21.3
pluggy==1.0.0
protobuf==3.19.5
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.7
pyquery==1.4.3
pytest==7.1.1
python-dateutil==2.8.2
requests>=2.32.0
requests-oauthlib==1.3.1
rsa==4.8
ruamel.yaml
s3transfer==0.5.2
sh==1.14.2
six==1.16.0
soupsieve==2.3.1
toml==0.10.2
tomli==2.0.1
uritemplate==4.1.1
urllib3>=1.26.19
wrapt==1.14.0
